
header{
	margin-top: 0px;
	max-height: 50px;	
}

.nav {
  	font-size: .5em;
  	margin-left: 5em;
  	float: right;
  	margin-right: 1em;
  }

@media only screen and (max-width: 600px) {
 .nav {
  	font-size: .5em;
  	margin-left: 5em;
  }

 
}





