
.nav {
  	font-size: 1em;
  	margin-left: 5em;
  	float: right; 

  }

  .clock{
    margin-right: 1em;
    margin-left: 1em;
  }

  .weather{
    margin-right: 1em;
    margin-left: 2em;
  }

@media only screen and (max-width: 900px) {
 .nav {
    display: flex;
    justify-content: left;
  	font-size: .75em;
  	margin-left: 5em;
  }

  .clock{
    margin-top: .5em;
    padding-right: 0;
    width:50%;
  }

 
}





