.card{
	width:500px;	
	background:rgba(55, 65, 100, 0.63);
	font-size: 1.25em;
	
	}
.cardCenter{
	display:flex;
	justify-content:center;
	padding-right:20em;
}

@media only screen and (max-width: 600px){
	.card{
		font-size: 1em;
		width:300px;
		height: auto;
		background:rgba(55, 65, 100, 0.63);
	}

	.cardCenter{
		padding-left:10em;
		
	}
}

