footer {
	
	position:fixed;
	left: 0;
	bottom:0;
	font-family: Courier;
	height: 35px;
	background-color:rgba( 0, 200, 400, .85);
		
}

.dmc{
	position:absolute;	
	font-size: 1em;
	margin-top: 1em;
	text-align: center;

	
}

.ip{
	font-size: .85em;
	padding-left: 2em;
	padding-top: 6px;
	margin-left: 100em;
	



  }

  @media only screen and (max-width: 600px){

  	footer{
  		align-items: center;
  		height: auto;
  		text-align: center;
  	}

	.dmc{
		margin-right: 10em;
		font-size: .85em;
		
	}

	.ip{
	font-size: .85em;
	margin-left:0;
	margin-right: 10em;
	padding-top: 1.5em;
	
  }	
}


