body{ 
  background: url("https://images.unsplash.com/photo-1571498760478-e31d3eb2e276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}